{% extends 'base.html' %}

{% block title %}История{% endblock %}

{% block content %}
<h2>История по {{ exercise.title }}</h2>
<h2>
    Категория
{% if exercise.category == 'c' %}
    Кардио
{% else %}
    Силовая
{% endif %}
</h2>
<h3>Текущие значения</h3>
<div class ="exercise">
            <div class ="exercise-field">
                вес/дистанция {{ exercise.value }}
            </div>
            <div class ="exercise-field">
                повторения {{ exercise.repeat }}
            </div>
            <div class ="exercise-field">
                дата {{ exercise.date.strftime('%d.%m.%d %H:%M') }}
            </div>
</div>

<div class="exercises">
    {% for exercise_semple in exercise_history %}
    <div class ="exercise">
            <div class ="exercise-field">
                вес/дистанция {{ exercise_semple.value }}
            </div>
            <div class ="exercise-field">
                повторения {{ exercise_semple.repeat }}
            </div>
            <div class ="exercise-field">
                дата {{ exercise_semple.date.strftime('%d.%m.%d %H:%M') }}
            </div>
            <div class ="exercise-field">
                <a href="/exercise-semple/delete/{{ exercise_semple.id }}">X</a>
            </div>
    </div>
    {% endfor %}
</div>
{% endblock %}