{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<h2>Ваши тренировки</h2>

<form method="post">
    {{ form.hidden_tag() }}

    <div class="exexercise-field">
        {{ form.title.label }}
        {{ form.title() }}
    </div>

    <div class="exexercise-field">
        {{ form.category.label }}
        {{ form.category() }}
    </div>

    <div class="exexercise-field">
        {{ form.value.label }}
        {{ form.value() }}
    </div>

    <div class="exexercise-field">
        {{ form.repeat.label }}
        {{ form.repeat() }}
    </div>

    <div class="exexercise-field">
        {{ form.submit() }}
    </div>
</form>

<div class="exercises">
    {% for exercise in exercises %}
    <div class ="exercise">
            <div class ="exercise-field">
                {{ exercise.title }}
            </div>
             <div class ="exercise-field">
                {{ exercise.category }}
             </div>
            <div class ="exercise-field">
                {{ exercise.value }}
            </div>
            <div class ="exercise-field">
                {{ exercise.repeat }}
            </div>
            <div class ="exercise-field">
                {{ exercise.date.strftime('%d.%m.%d %H:%M') }}
            </div>
            <div class ="exercise-field">
                <a href="exercise/history/{{ exercise.id }}">история</a>
                <a href="exercise/delete/{{ exercise.id }}">X</a>
            </div>
    </div>
    {% endfor %}
</div>
{% endblock %}